{namespace neos=TYPO3\Neos\ViewHelpers}
<f:if condition="{setDark}">
    <f:then>
        <aside class="clients bg-light-gray">
    </f:then>
    <f:else>
        <aside class="clients">
    </f:else>
</f:if>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="{clientUrlOne}">
                <f:if condition="{clientImageOne}">
                    <f:then>
                        <img class="img-responsive img-centered"
                             src="{typo3.media:uri.image(asset: node.properties.clientImageOne, maximumWidth: 200, maximumHeight: 50)}"
                             alt="">
                    </f:then>
                    <f:else>
                        <img src="http://placehold.it/200x50"
                             class="img-responsive img-centered" alt="">
                    </f:else>
                </f:if>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="{clientUrlTwo}">
                <f:if condition="{clientImageTwo}">
                    <f:then>
                        <img class="img-responsive img-centered"
                             src="{typo3.media:uri.image(asset: node.properties.clientImageTwo, maximumWidth: 200, maximumHeight: 50)}"
                             alt="">
                    </f:then>
                    <f:else>
                        <img src="http://placehold.it/200x50"
                             class="img-responsive img-centered" alt="">
                    </f:else>
                </f:if>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="{clientUrlThree}">
                <f:if condition="{clientImageThree}">
                    <f:then>
                        <img class="img-responsive img-centered"
                             src="{typo3.media:uri.image(asset: node.properties.clientImageThree, maximumWidth: 200, maximumHeight: 50)}"
                             alt="">
                    </f:then>
                    <f:else>
                        <img src="http://placehold.it/200x50"
                             class="img-responsive img-centered" alt="">
                    </f:else>
                </f:if>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="{clientUrlFour}">
                <f:if condition="{clientImageFour}">
                    <f:then>
                        <img class="img-responsive img-centered"
                             src="{typo3.media:uri.image(asset: node.properties.clientImageFour, maximumWidth: 200, maximumHeight: 50)}"
                             alt="">
                    </f:then>
                    <f:else>
                        <img src="http://placehold.it/200x50"
                             class="img-responsive img-centered" alt="">
                    </f:else>
                </f:if>
            </a>
        </div>
    </div>
</div>
</aside>