{namespace neos=TYPO3\Neos\ViewHelpers}
<div class="col-md-4 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa {fontawesomeIcon} fa-stack-1x fa-inverse"></i>
                    </span>
    {neos:contentElement.editable(property: 'serviceHeading', tag: 'h4', class: 'service-heading')}
    {neos:contentElement.editable(property: 'serviceText', tag: 'p', class: 'text-muted')}
</div>
