{namespace neos=Neos\Neos\ViewHelpers}
<f:if condition="{0:'{timelineAlignment}'} == {0:'timelineNormal'}">
	<li class="timeline-inverted">
		<div class="timeline-image">
			{neos:contentElement.editable(property: 'timelineNormalHeading', tag: 'h4')}

		</div>
	</li>
</f:if>

<f:if condition="{0:'{timelineAlignment}'} == {0:'timelineLeft'}">
	<li>
		<div class="timeline-image">
			<f:if condition="{timelineImage}">
				<f:then>
					<img class="img-circle img-responsive"
							 src="{neos.media:uri.image(image: node.properties.timelineImage, maximumWidth: 200, maximumHeight: 200)}"
							 alt="">
				</f:then>
				<f:else>
					<img src="http://placehold.it/200x200"
							 class="img-responsive img-circle" alt="">
				</f:else>
			</f:if>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				{neos:contentElement.editable(property: 'timelineHeading', tag: 'h4')}
				{neos:contentElement.editable(property: 'timelineSubHeading', tag: 'h4', class: 'subheading')}
			</div>
			<div class="timeline-body">
				{neos:contentElement.editable(property: 'timelineText', tag: 'p', class: 'text-muted')}
			</div>
		</div>
	</li>
</f:if>

<f:if condition="{0:'{timelineAlignment}'} == {0:'timelineRight'}">
	<li class="timeline-inverted">
		<div class="timeline-image">
			<f:if condition="{timelineImage}">
				<f:then>
					<img class="img-circle img-responsive"
							 src="{neos.media:uri.image(image: node.properties.timelineImage, maximumWidth: 200, maximumHeight: 200)}"
							 alt="">
				</f:then>
				<f:else>
					<img src="http://placehold.it/200x200"
							 class="img-responsive img-circle" alt="">
				</f:else>
			</f:if>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				{neos:contentElement.editable(property: 'timelineHeading', tag: 'h4')}
				{neos:contentElement.editable(property: 'timelineSubHeading', tag: 'h4', class: 'subheading')}
			</div>
			<div class="timeline-body">
				{neos:contentElement.editable(property: 'timelineText', tag: 'p', class: 'text-muted')}
			</div>
		</div>
	</li>
</f:if>
